# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
/.idea/
*.iml
*.ipr
*.iws
*.class
*.log
/.vscode/
/.settings/

# OS
.DS_Store
Thumbs.db

# Others
*.swp
*.swo
*.bak
*.tmp

# Lombok
lombok.config
